* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dev {
  border: 2px solid red;
}

body {
  height: 100vh;
  background: url("/../images/table-book-coffee.jpg") no-repeat center center/cover;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
}
body main > *:not(:first-child) {
  margin-top: 1.5rem;
}
body footer {
  height: 5%;
}

.container {
  background-color: rgba(187, 167, 166, 0.75);
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 300px;
  max-width: 1000px;
  margin-inline: 1rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
  border: 5px solid #033865;
  border-radius: 15px;
}
.container > *:not(:first-child) {
  margin-top: 1rem;
}
.container h1 {
  text-align: center;
  font-weight: 800;
  color: #033865;
}
.container h2 {
  color: #033865;
  text-align: center;
}
.container .interactive-area {
  display: flex;
  justify-content: center;
  gap: calc(10vw - 1rem);
}
.container .interactive-area .div {
  text-align: center;
}
.container .interactive-area .div > *:not(:first-child) {
  margin-top: 0.5rem;
}
.container .interactive-area #category-selector {
  background-color: #033865;
  text-align: center;
  padding: 0.5rem 0rem;
  color: white;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
}
.container .interactive-area #category-selector::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.container .interactive-area #category-selector::-webkit-scrollbar-thumb {
  background-color: #0a5ea5;
  border-radius: 5px;
}
.container .interactive-area #category-selector:hover {
  cursor: pointer;
  background-color: #0a5ea5;
}
.container .interactive-area #generator {
  font-size: 18px;
  padding: 1rem 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #033865;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  align-self: flex-end;
}
.container .interactive-area #generator:disabled {
  opacity: 0.5;
}
.container .interactive-area #generator:hover {
  cursor: pointer;
  background-color: #0a5ea5;
}
.container .add-btn {
  font-size: 18px;
  padding: 1rem 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #033865;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  align-self: flex-end;
}
.container .add-btn:hover {
  cursor: pointer;
  background-color: #0a5ea5;
}
.container .add-btn:disabled {
  opacity: 0.5;
}
.container .success-note {
  display: none;
  opacity: 0;
  background-color: teal;
  width: 15rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  padding: 1rem 1rem;
  margin: 0;
  border-radius: 15px;
  box-shadow: 0 0 50px rgb(0, 200, 200);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation-name: alert;
          animation-name: alert;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.container .success-note h2 {
  color: white;
}
.container .success-note.seen {
  display: flex;
}

.quote {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 20px;
}
.quote > *:not(:first-child) {
  margin-top: 1rem;
}
.quote strong {
  color: #033865;
}
.quote .text {
  transition: all 0.3s ease-in-out;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 150px;
  overflow-y: scroll;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 2px 0;
}
.quote .text::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.quote .text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.quote-container {
  display: none;
  color: white;
  position: fixed;
  flex-direction: column;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  transition: top 0.5s cubic-bezier(0, 0.5, 1, 0.07);
  -webkit-animation-name: fading;
          animation-name: fading;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.quote-container > *:not(:first-child) {
  margin-top: 1rem;
}
.quote-container .clear-list-btn {
  align-self: flex-end;
  margin-right: 10vw;
  color: #e1273d;
  background-color: black;
  border: 2px solid white;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.quote-container .clear-list-btn:hover {
  cursor: pointer;
  background-color: #e1273d;
  border-color: #e1273d;
  color: white;
}

.quote-container.shown {
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.favorite-quotes {
  height: 80vh;
  width: 90vw;
  min-width: 350px;
  max-width: 1000px;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  border: 5px solid #033865;
  border-radius: 15px;
  color: #033865;
  overflow-y: scroll;
}

.favorite-quotes::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

.favorite-quotes::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgb(3, 56, 101);
  background-color: rgba(3, 56, 101, 0.5);
  border-radius: 5px;
}

.favorite-header {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
}
.favorite-header h1 {
  align-self: center;
}
.favorite-header .close-btn {
  justify-self: end;
  font-size: 30px;
}
.favorite-header .close-btn:hover {
  cursor: pointer;
  color: red;
}

.favorite-btn {
  color: white;
  border: 2px double white;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.favorite-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #033865;
}

.info {
  color: white;
  text-align: center;
  letter-spacing: 3px;
}
.info a {
  color: lightblue;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: normal;
}

.list {
  list-style: none;
  margin-bottom: 1rem;
}
.list > *:not(:first-child) {
  margin-top: 1rem;
}
.list .quote-item {
  margin-inline: 1rem;
  transition: all 0.5s ease-in-out;
  border: 1px dotted #033865;
  border-radius: 10px;
}
.list .quote-item .visible {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  align-items: center;
  padding: 0.5rem;
}
.list .quote-item .visible .clickable {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.list .quote-item .visible .clickable:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
.list .quote-item .visible:hover {
  cursor: pointer;
}
.list .quote-item .delete {
  font-size: 18px;
  padding: 1rem 1.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #033865;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 0.75rem 1rem;
  z-index: 2;
}
.list .quote-item .delete:hover {
  cursor: pointer;
  cursor: pointer;
  background-color: #0a5ea5;
}
.list .quote-item .text {
  height: 0px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  font-size: 20px;
  padding-inline: 0.5rem;
  position: relative;
  overflow-y: scroll;
  box-sizing: border-box;
}
.list .quote-item .text::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}
.list .quote-item .text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.list .quote-item .text.unfolded {
  height: 100px !important;
}
.list .quote-item .text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0px;
  background-color: #033865;
}
.list .empty-caption {
  text-align: center;
  font-style: italic;
}

@media (min-width: 800px) {
  .clear-list-btn {
    align-self: center !important;
    margin-right: 0 !important;
    color: #e1273d;
    background-color: black;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  .list .category {
    min-width: 120px;
  }
}
@-webkit-keyframes fading {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
@keyframes fading {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  50% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
@-webkit-keyframes alert {
  0% {
    right: -100%;
    opacity: 1;
  }
  20% {
    right: 3rem;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes alert {
  0% {
    right: -100%;
    opacity: 1;
  }
  20% {
    right: 3rem;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */